<!DOCTYPE html>
<html>
    <head>


<title>Document</title>
<style>
    body{
        display: flex;
        flex-direction: ;
        margin: 5px;
    }
    .menu{
        display: flex;
        justify-content: space-around;
        background-color: blueviolet;
    }
    .menu a{
        font-size: 20px;
        font-weight: bolder;
        color: white;
    }
</style>
        </head>

    <body>
        <h1>Ajay Kumar dhurwe</h1>
        
        <h1>Project idea</h1>
       <div class="menu">
        <a href="/add">Add Student</a>
            <a href="/search">Search Student</a>
                <a href="/update">Update Student</a>
                    <a href="/delete">Delete Student</a>
                        <a href="/view">View Student</a>
       </div> 
    </body>
</html>